a {
    text-decoration: none;
}
#googleMaps{
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 10%;
    box-shadow: 3px 3px 10px gray;
}
#repeat{ 
 display: inline;
}
#country_container { 
 width: 1000px; 
 margin: 13px 3px 3px 0px; 
 text-align: center; 
 width: 85px; 
 padding: 4px; 
 display: inline-table;  
 color: white; 
 background-color: black; 
 font-size: 12px; 
 cursor: pointer;
 border: 1px solid black; 
 border-radius:13px; 
}
#country_container:hover { 
 box-shadow: 0px 0px 10px black;
 background-color: gray; 
 border: 1px solid gray; 
 cursor: pointer; 
}
#names { 
 cursor: pointer; 
}
.carrierDiv {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    float: right;
    margin-bottom: 2px;
    text-align: right;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}
.button, .filtertext{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin-bottom: 2px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}
.labelFilter{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    float: left;
    margin-bottom: 2px;
    text-align: right;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
}
.allControl {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.labelFilter{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.dateDiv {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 8px;
}
.carrierText {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
.filterText {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
.text {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.textLarge {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 60px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.textLarge {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 40px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.textMedium {
    color: rgb(25,25,25);
    font-family: Roboto,Arial,sans-serif;
    font-size: 26px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.infoRouteLabel {
    position: relative;
    margin-top:-100px;
}
.bigMap {
    position: relative;
    padding-bottom: 42%;
    margin-bottom: 3%;
    height: 0;
}
.tableInfo {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    left: 10%;
    right: 10%;
}