<!DOCTYPE html>
<html ng-app="mapsApp">
<head>
	<meta charset="ISO-8859-1">
	<title>Progetto Big Data</title>
	<link rel="stylesheet" href="css/maps.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoX6LaclBapeTtEpltmUNXSNhhMqCmZeI"></script>
	<script type="text/javascript" src="js/maps.js"></script>
    <script type="text/javascript" src="js/canvasjs.min.js"></script>
</head>

<body>
    <div ng-controller="controllerMap">
        <div id="bigMap" class="bigMap">
            <div id="googleMaps" align="center"></div>
            <div id="selectMonth" title="Month select" class="dateDiv" style="display: none">
                <div id="dateText" style="color: black; font-weight: bold" align= "center" class="button">
                    Mese per filtrare le rotte: 
                    <form id="mapFilter" title="Seleziona il mese" ng-submit="filter()">
                        <input id="monthFilter" type="month" class="button"/>
                        <input type="submit" id="monthFilterSubmit" class="button" value="Filtra"/>
                    </form>
                </div>
                <div id="dateReset" style="display: none; color: black; font-weight: bold" align= "center" class="inputDateResetSubmit">
                    <form id="mapFilterReset" title="Reset filtro mese" ng-submit="resetFilter()">
                        <input type="submit" id="monthFilterResetSubmit" class="button" value="Disattiva filtro"/>
                    </form>
                </div>
            </div>
        </div>
        <div id="infoRoute" class="text tableInfo" title="Informazioni sulla rotta cliccata" ng-show="showElements.tableDetailsAirport">
            <div id="iataRouteOrigin" class="textMedium" title="Iata d'origine">IATA d'origine: {{ routeSelected.originIata }}</div>
            <div id="cityRouteOrigin" class="textMedium" title="Città d'origine">Citta' d'origine: {{ routeSelected.originCity }}</div>
            <div id="iataRouteDest" class="textMedium" title="Iata di destinazione">IATA di destinazione: {{ routeSelected.destIata }}</div>
            <div id="cityRouteDest" class="textMedium" title="Città di destinazione">Citta' di destinazione: {{ routeSelected.destCity }}</div>
            <div id="airtimeRoute" class="textMedium" title="Tempo di volo">Tempo di volo medio: {{ routeSelected.airTime }}</div>
            <div id="distanceMilesRoute" class="textMedium" title="Distanza in miglia">Distanza in miglia: {{ routeSelected.distanceMiles }}</div>
            <div id="distanceKmRoute" class="textMedium" title="Distanza in chilometri">Distanza in chilometri: {{ routeSelected.distanceKm }}</div>
            <ul>
                <li class="text" ng-repeat="carrier in routeSelected.workingCarrier">
                    <div class="text" title="Compagnia">Compagnie che servono la rotta: {{ carrier }}</div>
                </li>
            </ul>
        </div>
        
        <div id="infoAirport" class="tableInfo" title="Informazioni sull'aereoporto cliccato" ng-show="showElements.tableDetailsAirport">
            <div id="iataAirport" class="textLarge" title="Iata aeroporto">{{ airportSelected.iata }}</div>
            <div id="cityAirport" class="textMedium" title="Città aeroporto">{{ airportSelected.city }}</div>
            <ul>
                <li class="text" ng-repeat="airport in airportSelected.airportReached">
                    <div class="text" title="Aeroporto raggiunto">{{ airport }}</div>
                </li>
            </ul>
        </div>
        <div id="infoCarrier">
            <div id="graphMeans" class="graph graphMeans" title="Grafico informativo" style="height:300px;"></div>
            <div id="graphCount" class="graph graphCount" title="Grafico informativo" style="height:300px;"></div>
        </div>
    </div>
</body>
</html>