<!DOCTYPE html>
<html ng-app="mapsApp">
<head>
	<meta charset="ISO-8859-1">
	<title>Sezione Mappa</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="css/maps.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoX6LaclBapeTtEpltmUNXSNhhMqCmZeI"></script>
    <script type="text/javascript" src="js/maps.js"></script>
    <script type="text/javascript" src="js/canvasjs.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">USA Flights</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Sezione Mappa</a></li>
                <li><a href="/predictions">Sezione Predizioni Ritardi</a></li>
            </ul>
        </div>
    </nav>
    
    <div ng-controller="controllerMap">
        <div class="container">
            <h4>In questa sezione potrai interagire con i voli USA visibili in mappa e visionare grafici informativi.</h4>
            <h5>I dati utilizzati riguardano compagnie aeree nazionali a partire dal 2000 fino al primo trimestre del 2016</h5>
        </div>
        <div id="bigMap" class="bigMap">
            <div id="googleMaps" align="center"></div>
            <div id="selectMonth" style="display: none; color: black; font-weight: bold" align= "center" class="button dateDiv">
                Mese per filtrare le rotte: 
                <form id="mapFilter" title="Seleziona il mese" ng-submit="filter()">
                    <input id="monthFilter" type="month" class="button"/>
                    <input type="submit" id="monthFilterSubmit" class="button" value="Filtra"/>
                </form>
            </div>
            <div id="dateReset" style="display: none; color: black; font-weight: bold" align= "center" class="inputDateResetSubmit">
                <form id="mapFilterReset" title="Reset filtro mese" ng-submit="resetFilter()">
                    <input type="submit" id="monthFilterResetSubmit" class="button" value="Disattiva filtro"/>
                </form>
            </div>
        </div>
        <div id="infoGhostFlights" style="display: none">
            <div id="graphGhostFlightsCarrier" class="graph graphGhostFlightsCarrier" title="Sono voli, operati senza passeggeri, effettuati per trasferire il veivolo dall'aeroporto di arrivo all'aeroporto di partenza dei successivi voli con passeggeri. Le spese di questi voli sono una perdita, ma servono a sopperire problemi logistici." style="height:300px;"></div>
        </div>
        <div id="otherInfoCarrierDelays" style="display: none">
            <div id="graphOtherCarrierDelays" class="graph graphOtherCarrierDelays" title="Grafico informativo" style="height:300px;"></div>
        </div>
        <div id="infoRoute" class="text tableInfo" title="Informazioni sulla rotta cliccata" ng-show="showElements.tableDetailsAirport">
            <div>
                <div><h2>Origine</h2></div>
                <div id="RouteOriginIata" class="textLarge" title="Iata d'origine">{{ routeSelected.originIata }}</div>
                <div id="RouteOriginCity" class="textMedium" title="Città d'origine">{{ routeSelected.originCity }}</div>
            </div>

            <div>
                <div><h2>Destinazione</h2></div>
                <div id="RouteDestIata" class="textLarge" title="Iata di destinazione">{{ routeSelected.destIata }}</div>
                <div id="RouteDestCity" class="textMedium" title="Città di destinazione">{{ routeSelected.destCity }}</div>
            </div>
            <br>
            <div class="infoRoute">
                <div id="airtimeRoute" class="textLight" title="Tempo di volo">Tempo di volo medio: {{ routeSelected.airTime }}</div>
                <div id="distanceRoute" class="textLight" title="Distanza in miglia">Distanza in miglia: {{ routeSelected.distanceMiles }} - Distanza in chilometri: {{ routeSelected.distanceKm }}</div>    
                <h3>Compagnie che servono la rotta:</h3>
                <select id="selectCarrier" ng-init="currentCarrier = options[0]" ng-model="currentCarrier" ng-change="showInfoCarrier()" class="button textLight">
                    <option ng-repeat="carrier in routeSelected.workingCarrier">
                        {{ carrier.UniqueCarrier }}
                    </option>
                </select>
            </div>
            <br><br>
            <div id="carrierDetails" class="textMedium"></div>
            <br><br>
        </div>
        <div id="infoCarrierDelays" style="display: none">
            <div id="graphCountDelaysDep" class="graph graphCountDelaysDep" title="Grafico informativo" style="height:300px;"></div>
            <div id="graphCountDelaysArr" class="graph graphCountDelaysArr" title="Grafico informativo" style="height:300px;"></div>
        </div>
        <div id="infoAirport" class="tableInfo" title="Informazioni sull'aereoporto cliccato" ng-show="showElements.tableDetailsAirport">
            <div id="iataAirport" class="textLarge" title="Iata aeroporto">{{ airportSelected.iata }}</div>
            <div id="cityAirport" class="textMedium" title="Citta' aeroporto">{{ airportSelected.city }}</div>
            
            <div class="textLight">Lista delle destinazioni dall'aeroporto corrente:</div>
            <select class="button textLight">
                <option ng-repeat="airport in airportSelected.airportReached">
                    IATA Code: {{ airport.iata }} - Citta': {{ airport.city }}
                </option>
            </select>
            <div class="block">
                <div class="textLight">Ritardo medio per l'aeroporto sui voli in partenza: {{ airportSelected.airportInfoGraphs[0].meanDelayDep }}</div>
                <div class="textLight">Ritardo medio per l'aeroporto sui voli in arrivo: {{ airportSelected.airportInfoGraphs[0].meanDelayArr }}</div>
            </div>
            <div class="textMedium block">Grafici informativi per l'aeroporto di {{ airportSelected.city }} considerando tutte le compagnie:</div>
        </div>
        <div id="infoAirportDelays" style="display: none">
            <div id="graphAirportDelaysDep" class="graph graphAirportDelaysDep" title="Grafico informativo" style="height:300px;"></div>
            <div id="graphAirportDelaysArr" class="graph graphAirportDelaysArr" title="Grafico informativo" style="height:300px;"></div>
        </div>
        <div id="infoOtherAirportDelays" style="display: none">
            <div id="graphOtherAirportDelaysDep" class="graph graphOtherAirportDelaysDep" title="Grafico informativo" style="height:300px;"></div>
            <div id="graphOtherAirportDelaysArr" class="graph graphOtherAirportDelaysArr" title="Grafico informativo" style="height:300px;"></div>
        </div>
        
        <div id="infoCarrier" style="display: none">
            <div id="graphMeans" class="graph graphMeans" title="Grafico informativo" style="height:300px;"></div>
            <div id="graphCount" class="graph graphCount" title="Grafico informativo" style="height:300px;"></div>
        </div>
    </div>
    <div id="errorDelays" class="textSmall" title="Info di servizio" style="display: none">Nota: I dati sui ritardi sono disponibili solo da Ottobre 2008 in poi</div>
</body>
</html>